/* ---------- ALL TYPE ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: #1f2f45;
}

/* ---------- JUDUL FORM HP ---------- */
.whitebox {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.regisbox {
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 24px;
}

.regisbox h2 {
  width: 100%;
  color: #1f2c3e;
  align-self: flex-start;
  text-align: left;
  line-height: 1.2;
  font-size: 23px;
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  text-align: left;
  background: #fff;
  padding: 25px 0px 25px 0px;
  border-radius: 12px;
}

.upload-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;
}

.label {
  font-size: 13px;
}

.pill-text {
  display: inline-flex;
  justify-content: flex-end;
  padding: 5px 10px;

  border: 1.5px solid #d6dbe1;
  border-radius: 999px;

  font-size: 13px;
  color: #b0b0b0;
  background-color: #ffffff;
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* ---------- FOTO KTP ---------- */
.upload-box {
  flex: 1;
  min-width: 260px;
  border: 2px dashed #4fd1c5;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  position: relative;
  font-size: 13px;
  margin-bottom: 14px;
}

.upload-icon {
  font-size: 32px;
  margin-bottom: 10px;
}

.upload-box input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.selfie-box {
  flex: 1;
  min-width: 260px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-bottom: 14px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #4fd1c5;
}

.selfie-box input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

/* ---------- REGIS HP ---------- */
.form-verify {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
}

.form-verify button {
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(180deg, #1f2f45, #162235);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.form-verify button:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}

.note { 
  font-size: 10px;
  color: #777;
}

/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
  .container {
    text-align: left;
    padding: 0;
  }

  .whitebox {
    padding: 6%;
  }

  .regisbox {
    max-width: 900px;
    align-items: flex-start;
    padding: 48px;
  }

  .regisbox h2 {
    margin: 0;
    padding: 0;
    width: 60%;
    font-size: 33px;
    line-height: 1.15;
  }

  .form-group {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
  }

  .layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title uploadktp"
      "identity selfie";
    gap: 0 40px;
    align-items: start;
  }

  .container {
    grid-area: title;
  }
  .upload-box {
    grid-area: uploadktp;
  }
  .form-group {
    grid-area: identity;
  }
  .selfie-box {
    grid-area: selfie;
  }
}